.gradient-overlay {
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* No change here */
}
